@using ContactRegistrationMVC.Enums
@model UserModel

@{
    ViewData["Title"] = "Registration user";
}

<div class="text-center">
    <h1>Registration user</h1>
</div>




<form asp-controller="User" asp-action="Create" method="post">

    <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" asp-for="Name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name">
        @Html.ValidationMessageFor(x => x.Name)
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">E-mail</label>
        <input type="email" asp-for="Email" class="form-control" id="exampleInputPassword1" placeholder="Enter e-mail">
        @Html.ValidationMessageFor(x => x.Email)
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Login</label>
        <input type="text" asp-for="Login" class="form-control" id="exampleInputPassword1" placeholder="Enter user login">
        @Html.ValidationMessageFor(x => x.Login)
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">User type</label>
        <select asp-for="UserType" class="form-control">
            <option value="">Select</option>
            <option value="@UserEnum.ADM">Administrator</option>
            <option value="@UserEnum.USERDEFAULT">Default user</option>
        </select>
         @Html.ValidationMessageFor(x => x.UserType)
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" asp-for="Password" class="form-control" id="exampleInputPassword1" placeholder="Enter user password">
        @Html.ValidationMessageFor(x => x.Password)
    </div>


    <button type="submit" class="btn btn-primary">Add</button>
    <a class="btn alert-secondary" asp-controller="User" asp-action="Index" role="button">Return</a>
</form>
