@model List<ContactModel>

@{
    ViewData["Title"] = "Contact list";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn border-dark" role="banner" asp-controller="Contact" asp-action="Create">Add new contacts</a>
    </div>

    <h1>Contact listing</h1>
    <br />

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>

            </tr>
        </thead>
        <tbody>
            @if (Model == null || !Model.Any())
            {
             <h2>No contact number at the moment</h2> 
             <br />
            }
             @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Name</td>
                        <td>@item.Email</td>
                        <td>@item.Number</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="basic example">
                                <a role="button" class="btn btn-outline-success" asp-route-id="@item.Id" asp-controller="Contact" asp-action="Edit">Edit to</a>
                                <a role="button" class="btn btn-outline-danger" asp-route-id="@item.Id" asp-controller="Contact" asp-action="ConfirmDelete">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>

